<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Alliance Project</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.213987551834-4mnsrt8fevt9olle29vs2iqgk4bv7kur</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<string>FALSE</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<string>NO</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>YES</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>fb</string>
		<string>youtube</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Access to the camera is needed to send and receive photos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The Alliance Project uses your location to help you find collaborators closest to you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access to the microphone is needed to record audio for video messages.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to the photo library is needed in order to select a profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BEYNO.ttf</string>
		<string>Elianto.ttf</string>
		<string>Trench.ttf</string>
		<string>Selim.ttf</string>
		<string>AG-Black.otf</string>
		<string>AG-BlackItalic.otf</string>
		<string>AG-Bold.otf</string>
		<string>AG-BoldItalic.otf</string>
		<string>AG-ExtraBold.otf</string>
		<string>AG-ExtraBoldItalic.otf</string>
		<string>AG-Light.otf</string>
		<string>AG-LightItalic.otf</string>
		<string>AG-Medium.otf</string>
		<string>AG-MediumItalic.otf</string>
		<string>AG-Regular.otf</string>
		<string>AG-RegularItalic.otf</string>
		<string>AG-Thin.otf</string>
		<string>AG-ThinItalic.otf</string>
		<string>AG-UltraLight.otf</string>
		<string>AG-UltraLightItalic.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UILaunchStoryboardName</key>
					<string>LaunchScreen</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
